.s-popular-collections {
  display: block;
  margin-inline: auto;

  & .product-card {
    gap: 8px;

    & .product-title {
      font-weight: 400;
      font-size: 13px;
      line-height: 110%;
      letter-spacing: 0.16em;
    }

    & .product-card__info .gap-1 {
      gap: 8px;
    }

    & .price-list {
      opacity: 1;
      transform: translate(0);
    }

    & .product-card__info .price-list .h6{
      font-weight: 700;
      font-size: 13px;
      line-height: 100%;
      letter-spacing: 0.16em;
      color: #1c1c1c;
    }
  }

  @media (min-width: 768px) {
    & .product-card {
      gap: 16px;

      & .product-title {
        font-size: 16px;
      }

      & .product-card__info .gap-1 {
        gap: 16px;
      }

      & .product-card__info .price-list .h6{
        font-size: 16px;
      }
    }
  }
}

.s-popular-collections__wrapper {
  width: 100%;
  max-width: 1134px;
}

.s-popular-collections__title {
  margin: 0 0 30px;
  // font-weight: 700;
  // font-size: 19px;
  // line-height: 120%;
  // letter-spacing: 0.18em;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: 768px) {
    // font-size: 25px;
    margin-bottom: 40px;
  }
}

.s-popular-collections__tabs {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
  margin-inline: -18px;
  padding-inline: 18px;
  overflow: auto;
  @media (min-width: 992px) {
    justify-content: center;
    margin-bottom: 66px;
  }
}

.s-popular-collections__tab {
  padding: 10px 16px;
  border-radius: 3px;
  font-weight: 600;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0.16em;
  min-width: max-content;
  cursor: pointer;

  @media (min-width: 768px) {
    font-size: 16px;
    border-radius: 0;
  }
}

.s-popular-collections__tab.is-active {
  background: #1c1c1c;
  color: #ffffff;
}

.s-popular-collections__panels {
  position: relative;
}

.s-popular-collections__panel {
  display: none;
}

.s-popular-collections__panel.is-active {
  display: block;
}

.s-popular-collections__grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 30px 12px;
  margin-bottom: 28px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 32px;
    margin-bottom: 40px;
  }

  @media (min-width: 1024px) {
    gap: 110px;
  }
}

.s-popular-collections__cell {
  height: 100%;
}

.s-popular-collections__cta {
  display: flex;
  justify-content: center;
}

.s-popular-collections__button {
   width: 100%;
  // padding: 14px;
  // font-weight: 600;
  // font-size: 15px;
  // line-height: 100%;
  // letter-spacing: 0.16em;
  text-transform: uppercase;
  width: fit-content;
  cursor: pointer;
  border-color: #1C1B1B;
  color: #1C1B1B;
  // padding: 14px 10px;

  @media (min-width: 768px) {
    // padding-inline: 45px;
    // font-size: 16px;
  }
}
