.custom-blog-post {
  list-style: none;
}

.custom-blog-post__title {
  margin-bottom: 44px;
}

.custom-article-card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
}

.custom-article-card__image-wrapper {
  width: 100%;
  max-height: 125px;
  overflow: hidden;
  aspect-ratio: 1/1;
  margin-bottom: 12px;
}

.custom-article-card__image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.custom-article-card__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 7px;
  justify-content: space-between;
}

.custom-article-card__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  margin: 0 0 10px 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.custom-article-card__excerpt {
  margin: 0 0 17px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 107%;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.custom-article-card .button {
  max-width: 141px;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  padding: 14px 8px;
}

@media (min-width: 769px) {
  .custom-blog-post__posts {
    display: grid;
    gap: 35px;
  }

  .custom-blog-post__posts.custom-blog-post__posts-columns--2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .custom-blog-post__posts.custom-blog-post__posts-columns--3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .custom-blog-post__posts.custom-blog-post__posts-columns--4 {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) and (min-width: 426px) {
  .custom-blog-post__title {
    margin-bottom: 21px;
  }
  .custom-blog-post__posts {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    padding-bottom: 10px;
  }

  .custom-blog-post__post {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 50%;
  }

  .custom-article-card .button {
    max-width: 120px;
  }
}

@media (max-width: 425px) {
  .custom-blog-post__posts {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    padding-bottom: 10px;
  }

  .custom-blog-post__post {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 90%;
  }

  .custom-article-card .button {
    max-width: 92px;
    padding: 8px 10px;
  }
}