.video-review {
  position: relative;
  text-align: center;
}

.video-reviews--wrapper {
  display: flex;
  flex-direction: column;
}

.video-reviews__heading {
  margin-bottom: 28px;
}

.video-reviews__title * {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.16rem;
  text-transform: uppercase;
  margin-block: 0px 8px;
}

.video-reviews__subtitle {
  margin: 0;
}

.video-reviews__subtitle > *{
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
}

.video-reviews__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.video-reviews__slider {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.video-reviews__slider .video-review {
    width: 100%;
    height: 100%;
}

.video-reviews__slider-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-padding-left: 2rem;
  -webkit-overflow-scrolling: touch;
  gap: 17px;
}

.video-reviews__slider-list::-webkit-scrollbar {
  height: 0.5rem;
}

.video-reviews__slider-list-item {
  scroll-snap-align: start;
  flex-shrink: 0;
}

.video-review__video,
.video-review__image {
  width: 100%;
  height: 100%;
  line-height: 0;
  cursor: pointer;
  border-radius: 4px;
  aspect-ratio: 183/246;
  overflow: hidden;
}

.video-review__video video,
.video-review__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 410px;
}

.video-reviews__play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  background: unset;
  border: none;
  width: 32px;
  height: 32px;
}

.video-reviews__play-button svg {
  width: 100%;
  height: auto;
}

.video-review__video.video-review__video--play .video-reviews__play-button {
  opacity: 0;
}

.video-reviews .button {
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 16%;
  padding: 8px 26px;
  width: fit-content;
  margin: 20px auto 0;
}


@media (min-width: 768px) {

  .video-reviews__heading {
    margin-bottom: 38px;
  }

  .video-reviews__title * {
    font-size: 25px;
    margin-block: 0px 13px;
  }

  .video-reviews__subtitle > *{
    font-size: 16px;
  }

  .video-reviews__grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }

  .video-reviews__play-button {
    width: 54px;
    height: 54px;
  }

  .video-reviews .button {
    font-weight: 600;
    padding: 14px 48px;
    margin: 24px auto 0;
  }

  .video-review__video,
  .video-review__image {
    aspect-ratio: 3/4;
  }
}