.custom-blog-post {
  list-style: none;
}

.custom-blog-post__title {
  margin-bottom: 20px;
}

.custom-blog-post__title * {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.custom-article-card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;
}

.custom-article-card__image-wrapper {
  width: 100%;
  overflow: hidden;
  aspect-ratio: 183/81;
}

.custom-article-card__image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.custom-article-card__content {
  display: flex;
  flex-direction: column;
}

.custom-article-card__title {
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 0 0 8px 0;
  color: #1c1c1c;
}

.custom-article-card__excerpt {
  font-weight: 400;
  font-size: 11px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #1c1c1c;
  margin: 0;
}

.custom-article-card .button {
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  padding: 8px 10px;
  width: max-content;
  margin-top: auto;
}

.custom-blog-post__posts {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: var(--custom-blog-post-mobile-gap, 16px);
  padding-bottom: 10px;
  scrollbar-width: none;
}

.custom-blog-post__posts::-webkit-scrollbar {
  display: none;
}

.custom-blog-post__post {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: var(--custom-blog-post-mobile-item-width, calc((100% - (var(--custom-blog-post-mobile-columns, 2) - 1) * var(--custom-blog-post-mobile-gap, 16px)) / var(--custom-blog-post-mobile-columns, 2)));
}


@media (min-width: 769px) {
  .custom-blog-post__title {
    margin-bottom: 44px;
  }

  .custom-blog-post__title * {
    font-size: 26px;
  }

  .custom-article-card {
    gap: 12px;
  }

  .custom-article-card__title {
    font-size: 16px;
    margin-bottom: 6px;
  }

  .custom-article-card__excerpt {
    font-size: 14px;
    margin-bottom: 12px;
  }

  .custom-blog-post__posts {
    display: grid;
    gap: 35px;
    padding-bottom: 0;
  }

  .custom-blog-post__posts.custom-blog-post__posts-columns--2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .custom-blog-post__posts.custom-blog-post__posts-columns--3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .custom-blog-post__posts.custom-blog-post__posts-columns--4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .custom-blog-post__post {
    width: auto;
  }

  .custom-article-card .button {
    padding: 14px 30px;
  }
}
